{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-restricted-exports": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/prop-types": "off"
  },
  "parserOptions": {
    "ecmaVersion": 11
  }
}
